# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build files (React build folder)
build/

# OS files
.DS_Store

# Editor files
.idea/
.vscode/
*.swp

# Others
dist/
coverage/
