.import-bill-container {
    padding: 20px;
    width:100%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #7c6864;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .import-bill-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .import-bill-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 20px;
  }
  
  .import-bill-table th,
  .import-bill-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .import-bill-table th {
    background-color: #f5f5f5;
  }
  
  .confirm-btn {
    background-color: hsl(135, 16%, 60%);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .confirm-btn:hover {
    background-color: #ebd9a8;
  }
  
  .confirmed-text {
    color: #6c757d;
    font-weight: bold;
  }
  